.logo_container {
  position: sticky;
  top: 0;
  display: inline-flex;
  align-items: center;
  margin: 0px 5px;
  height: 50px;
  font-size: 40px;
  font-weight: bolder;
  border-radius: 2px;
  font-family: "Audiowide", sans-serif;
  cursor: default;
}

.logo_container_span:nth-child(1) {
  color: white;
}

.logo_container_span:nth-child(2) {
  color: #c5a872;
}
